body .event {
  background-color: #F3453C;
}
svg {
  width: 100%;
}
@keyframes swing {
  0%, 100% {transform: rotate(-5deg);transform-origin: center;}
  50% {transform: rotate(5deg);transform-origin: center;}
}

#Desktop {
  animation: swing 2s infinite ease-in-out;
}
#iPad {
  animation: swing 2s infinite ease-in-out;
}
#iPhone {
  animation: swing 2s infinite ease-in-out;
}
