#iphone-screencast {
    position: absolute;
    width: 565px;
    height: 1320px;
    top: 85px;
    left: 50%;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    transform: scale(0.47803); margin-left: -42px;
}
#iphone {
    background-image: url(img/perspective@2x.png);
    background-size: 100% 100%;
    height: 100%;
}
#iphone video.preloaded {
    opacity: 1;
}

#iphone video {
    width: 750px;
    height: 1334px;
    border-radius: 6px;
    -webkit-transform: perspective(500px) rotateY(-3.7deg) scale(.667,.731) translate(-23.5%,-2.5%);
    transform: perspective(500px) rotateY(-3.7deg) scale(.667,.731) translate(-23.5%,-2.5%);
    transition: opacity 1s;
}
